<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Confirmation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
</head>
<body>

    <div class="container">
        <div class="header">
            <img src="https://i.imgur.com/Qsvjujt.jpg" alt="Header Image">
        </div>
        <div class="content">
            <p>We are delighted to inform you that you have successfully won the bid—congratulations!</p>
            <p>Here’s what is next:</p>
            <p>- Your total invoice will be emailed to you tomorrow or earlier.</p>
            <p>- Our team will give you a follow-up call to confirm the details.</p>
        </div>
        <div class="footer">
            <p>Please ensure you are available for the call to keep things moving smoothly.  </p>
            <p>Warm regards,</p>
            <p>Astro's auction house.</p>
        </div>
    </div>
</body>
</html>