<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astros BD {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #e0ccb4; background-image: url('https://i.imgur.com/4m2fgqq.png'); background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <img src="https://i.imgur.com/4m2fgqq.png" alt="" width=75 height="75">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/'%}active{%endif%}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Auction</a>
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/login/'%}active{%endif%}" href="/login/">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/register_user/">Register</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/logout_user/">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <style>
        .navbar-nav .nav-link {
            font-size: 1.25rem; /* Increase font size */
            padding: 1rem; /* Increase padding for better vertical alignment */
        }
        .navbar-nav {
            align-items: center; /* Center items vertically */
        }
    </style>
</body>
</html>