{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="loader" id="loading">
    <img src="{% static 'images/landing_page_anim_-2-removebg-preview.png' %}" alt="" id="load-img">
</div>
<div id="main">
    <div class="row-2">next drop in:</div>
    <div class="row-1">
        <div id="clock">
            <img src="{% static 'images/Mask Group 1.png' %}" alt="" id="clock-img">
        </div>
        <div class="timer">
            <p id="days"></p>
            <div class="label">Days</div>
        </div>
        <div id="separator">&nbsp;</div>
        <div class="timer">
            <p id="hours"></p>
            <div class="label">Hours</div>
        </div>
        <div class="timer" id="colon-1">:</div>
        <div class="timer">
            <p id="minutes"></p>
            <div class="label">Minutes</div>
        </div>
        <div class="timer" id="colon-2">:</div>
        <div class="timer">
            <p id="seconds"></p>
            <div class="label">Seconds</div>
        </div>
    </div>
</div>

<script>
    var countDownDate = new Date("{{ date }}").getTime();
</script>

<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
