{% extends 'base.html'%}

{% block content %}

<link rel="stylesheet" href="{% static 'css/products_dne.css' %}">
    {% load static %}
    <div class="loader" id="loading">
    <img src="{% static 'images/landing_page_anim_-2-removebg-preview.png' %}" alt="" id="load-img">
        
    </div>
    <div id="main">

    <div class="row-1">
        <div class="timer">
            <p id="dne">You caught us! </p>
            <p> No products are on auction right now. Please check back later!</p>
    </div>
    </div>
    <script src="{% static 'js/products_dne.js'}"></script>
{% endblock %}