.row-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.row-1 > div {
    display: flex;
}

.row-2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25vw;
    flex-direction: row;
    font-size: 2vw;
    margin-right: 26vw;
    color: #e0ccb4;
}

#clock {
    display: flex;
    align-items: flex-start;
}

#clock-img {
    margin-top: 2vw;
    width: 2.5vw;
    align-self: flex-start;
}

#separator {
    width: 0.5vw;
    height: 10vw;
    background-color: #e0ccb4;
    align-self: center;
    margin-bottom: 4vw;
}

.timer {
    font-size: 7vw;
    font-family: "Lunasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #c8746c;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    display: flex;
    flex-direction: column;
}

.timer-modified {
    font-size: 7vw;
    font-family: "Lunasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    display: flex;
    flex-direction: column;
    animation: oscillateColor 1s infinite;
}

.label {
    color: #e0ccb4;
    font-size: 2.5vw;
}

.loader {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#load-img {
    animation: oscillateOpacity 1s infinite;
}

#main {
    width: 90vw;
    margin: auto;
    display: none;
    height: 100vh;
}

@keyframes oscillateOpacity {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

@keyframes oscillateColor {
    0%, 100% { color: #c8746c; }
    50% { color: #a82424; }
}
