body{
    background: linear-gradient(270deg, #D5918A 0%, #D5918A 47.32%, #E3C1B8 87%, #E3C1B8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.nav-over{
    width: 100%;
    height: 7vw;
    background: rgba(0, 0, 0, 0.12);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    margin-left: 2vw; 
}
#logo-img{
    align-self: center;
    width: 8vw;
    height: 4vw;
}
    .right-side {
        border-radius: 4.6875rem 0rem 0rem 4.6875rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 47.5vw;
        height: 100vh;
        background-color: #E1CFB9;
        z-index: 1000; /* Ensure it displays over everything else */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    .top-row{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        margin: auto;
    }
    .bottom-row{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4.875rem;
        background: #FFF2E2;
        margin: auto;
        flex-direction: column;
        color: #C0A78F;
        
}
#reroute{
    width: 2.5vw;
    height: 2.5vw;
    margin-top: 1.5vw;
    margin-left: 5vw;
}

#person-img{
    width: 5vw;
    height: 5vw;
}
.btn-primary{
    background-color: #b22222;
}
.btn-primary:hover{
    background-color: #8b1a1a;
}
.register{
color:#D5918A; 
}
.register:hover{
color:#D5918A;
text-decoration: underline;
}
.alert-primary{
width: auto;
margin: auto;
}