<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astros BD Authentication</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
    </head>

    <body>
        <div class="nav-over">
            <div class="logo">
                <img src="{% static 'images/red logo.png' %}" alt="logo" id="logo-img">
            </div>
        </div>
                        <div class="right-side">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-primary" role="alert">
                                {{ message }} 
                              </div>
                            {% endfor %}
                            {% endif %}
                            <div class="top-row">
                                <img src="{% static 'images/Component 3 – 1.png'%}" alt="" id="reroute">
                            </div>
                            <div class="bottom-row">
                                <img src="{% static 'images/acc-img.png'%}" alt="" id="person-img">
<form class="w-75" method="POST" style="margin-top: 5vw;">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-block">Log Out </button>
</form>
</div>
</div>

<script src="{% static 'js/logout.js'%}"></script>
</body>


</html>